<div class="card">
  <p-table
    #dt
    [value]="list"
    dataKey="empId"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="[
      'empName',
      'list.start_date',
      'list.active',
      'list.note'
    ]"
    [(selection)]="selectedEmployees"
    [rowHover]="true"
    selectionMode="multiple"
  >
    <ng-template pTemplate="caption">
      <div class="d-flex p-ai-center justify-content-between">
        <div>
          <button
            pButton
            pRipple
            label="Add New Employee"
            icon="pi pi-plus"
            class="p-button-success mx-2"
            (click)="addEmployeeDialog()"
          ></button>
          <button
            pButton
            pRipple
            [label]="Delete"
            icon="pi pi-trash"
            class="p-button-danger"
            (click)="deleteSelectedEmployees()"
            [disabled]="!selectedEmployees || !selectedEmployees.length"
          ></button>
        </div>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Search..."
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th field="empName" pSortableColumn="empName">
          Name <i class="pi pi-sort"></i>
        </th>
        <th>Email</th>
        <th pSortableColumn="empAddress">Address <i class="pi pi-sort"></i></th>
        <th>Phone</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-list>
      <tr>
        <td>
          <p-tableCheckbox [value]="list"></p-tableCheckbox>
        </td>
        <td>{{ list.empName }}</td>
        <td>{{ list.empEmail }}</td>
        <td>{{ list.empAddress }}</td>
        <td>{{ list.empPhone }}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            (click)="editEmployeeDialog(list.empId)"
            type="button"
            class="p-button-raised p-button-rounded p-button-warning mx-2"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            (click)="deleteEmployee(list.empId)"
            type="button"
            class="p-button-raised p-button-rounded p-button-danger"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6">No employees found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
></p-confirmDialog>
<p-toast></p-toast>
