<!-- <p> Lecure One student-details works!</p>
<label for="">Enter your Name: </label>
<input #sName (keyup)="changeName(sName.value)" />
<br />
<label for="">Enter your Age:</label>
<input #sAge (keyup)="changeAge(sAge.value)" />

<div class="alert alert-danger">{{ id }}</div>
<div class="alert alert-danger">{{ name }}</div>
<div class="alert alert-danger">{{ age }}</div> -->

<!-- lecture 2 -->
<div>
  <h3>{{ stdStudent.id }}</h3>
  <h3>{{ stdStudent.name }}</h3>
  <h3>{{ stdStudent.age }}</h3>
</div>
